{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
            <h2 class="text-center">Admin Dashboard</h2>
            <hr>
            <div class="d-flex dashboard-menu">
                <div class="text-center d-flex flex-column col-sm">
                    <span class="dashboard-menu-header">Users</span>
                    <a href="/admin/users">View users</a>
                </div>
                <div class="text-center d-flex flex-column col-sm dashboard-borders">
                    <span class="dashboard-menu-header">Posts</span>
                    <a href="/admin/posts">View posts</a>
                    <a href="/admin/posts/new">Create new post</a>
                </div>
                <div class="text-center d-flex flex-column col-sm">
                    <span class="dashboard-menu-header">Comments</span>
                    <a href="/admin/comments">View comments</a>
                </div>
            </div>
            <div class="blog-custom">
                <h2 class="text-center">Blog Customization</h2>
                <hr/>
                <div class="dashboard-menu-header custom-header">Social links and Header</div>
                <form method="POST" action="/admin/customize/update">
                    {% for contactInfo in getContactInfos() %}
                        <div class="control-group">
                            <div class="form-floating controls mb-3">
                                <input id="{{ contactInfo.name }}" value="{{ contactInfo.url }}" name="{{ contactInfo.name }}" class="form-control" type="url" placeholder="{{ contactInfo.name|capitalize }}" />
                                <label class="form-label" for="{{ contactInfo.name }}">{{ contactInfo.name|capitalize }}</label>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="control-group">
                        <div class="form-floating controls mb-3">
                            <input id="headerTitle" value="{{ blogCustomization.header }}" name="header" class="form-control" type="text" placeholder="Header Name" />
                            <label class="form-label" for="headerTitle">Header</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-floating controls mb-3">
                            <input id="headerDescription" value="{{ blogCustomization.headerDescription }}" name="headerDescription" class="form-control" type="text" placeholder="Header Description" />
                            <label class="form-label" for="headerDescription">Header Description</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-floating controls mb-3">
                            <input id="cvUrl" value="{{ blogCustomization.cvUrl }}" name="cvUrl" class="form-control" type="url" placeholder="CV Link" />
                            <label class="form-label" for="cvUrl">CV Link</label>
                        </div>
                    </div>
                    <button class="btn btn-primary d-block box-shadow" id="submit-id-submit" type="submit">Confirm Changes</button>
                </form>
                <div class="dashboard-menu-header custom-header">Logo/Avatar</div>
                <form method="POST" action="admin/customize/avatar" enctype="multipart/form-data">
                    <div class="logo admin-logo mb-3 mt-3"></div>
                    <div class="mb-3">
                        <input type="file" class="form-control" id="newAvatar" name="newAvatar" accept=".jpg,.jpeg,.png,.gif"/>
                    </div>
                    <button class="btn btn-primary d-block box-shadow" id="submit-upload" type="submit">Upload</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}