{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-lg-8 m-auto">
            <h2 class="text-center">Users</h2>
            <hr>
            <div class="table-responsive">
                <table class="table table-striped table-sm table-bordered">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Role</th>
                        <th class="text-center"><span class="fa fa-cog"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.LastName }}</td>
                            <td>
                                <select name="userRole" form="{{ user.userId }}">
                                    {% for role in roles %}
                                        <option value="{{ role.label }}" {{ role.label == user.userRole ? "selected" }}>{{ role.label }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="text-center">
                                {% if user.userId != session.userId %}
                                    <form id="{{ user.userId }}" method="POST" action="/admin/users/update">
                                        <input type="hidden" name="userId" value="{{ user.userId }}"/>
                                        <button type="submit" class="btn btn-default table-btn btn-edit">
                                            <span class="fa fa-pencil"></span>
                                        </button>
                                    </form>
                                    <form method="POST" action="/admin/users/delete">
                                        <input type="hidden" name="userId" value="{{ user.userId }}"/>
                                        <button type="submit" class="btn btn-danger table-btn btn-delete">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}